<!doctype html>
<html lang="en" data-framework="angularjs">
  <head>
    <meta charset=" utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width = device-width, minimal-ui, initial-scale = 1, user-scalable = no" />
    <meta name="apple-mobile-web-app-title" content="Demo App">
    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png">

    <title>JSPM Angular Sandbox</title>
    <base href="/">
  </head>
  <body ng-cloak>

    <noscript>
      <div>
        <h1>Please enable Javascript</h1>
        <p>The JSPM Angular Sandbox requires your browser to have Javascript enabled.
          <a href="http://enable-javascript.com" target="_blank">Learn more</a>
        </p>
      </div>
    </noscript>

    <ui-view></ui-view>

    <!-- build:dev -->
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <!-- endbuild -->

    <!-- build:prod -->
    <!-- <script src="app.js?bust={{date}}"></script> -->
    <!-- endbuild -->

    <script>
      System.import('src/app.js');
    </script>

  </body>
</html>
